body {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgba(173, 174, 175, 0.918);
    background-color: #333;
   }
   
   footer {
     text-align: center;
   }
   
   .container {
        position: right;
       margin: 5px;
       width: 100%;
      
     }
   
     .navigation {
       overflow: none;
       background-color: #333;
       position: sticky;
       top:0%;
     }
   
   
     .navigation a {
       float: left;
       color: #f2f2f2;
       text-align: center;
       padding: 14px 16px;
       text-decoration: none;
       font-size: 25px;
     }
   
   .navigation a:hover {
     background-color: #ddd;
     color: black;
   }
   
   .navigation-right {
     float:right;
   }
    
   .profile-background {
     background-image: url("../images/landing-page.jpg");
     display: flex;
     height: 920px;
     background-position: top;
     background-size: cover;
     background-repeat: no-repeat;
     transform: translate(-50% -50%);
   }
   
   
   
   .hero-intro {
     text-align: center;
     margin-top: 200px;
     font-size: 48px;
     color: #ddd;
   }
   
   .hero-intro2 {
     text-align: center;
      font-size: 30px;
     color: #ddd;
   }

   .card {
    display: flex;
    width: 500px;
    height: 400px;
    background-color: white;
    padding: 20px;
    box-shadow: 5px 5px 5px gray;
    border-radius: 10px;
    justify-content: center;
    margin: auto;
    align-content: center;
    font-size: 25px;
    color: black;
  }

  .card-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
  }
  
  /* On mouse-over, add a deeper shadow */
  .card:hover {
    box-shadow: 5px 5px 5px red;
  }

  #event-list-container{
    display: flex;
    flex-direction: column;
    max-height: fit-content;
    overflow-y: auto;
  }