body {
    font-family: 'Oswald', sans-serif;
    color: rgba(173, 174, 175, 0.918);
    background-color: #333;
    max-height: fit-content;
    
   }
   
   footer {
     text-align: center;
   }

   .profile-background {
    background-image: url("../images/landing-page.jpg");
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    max-height: fit-content;
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;

  } 
  
  .profile-background .input-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  }

   .container{
    margin: 5px;
    width: 100%;
    display: flex;
    
    text-align: center;
    justify-content: center;
   
   
  }

   .input-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgba(0, 0, 0, 0.75);
    width: fit-content;
    height: fit-content;
    justify-content: center;
    margin-top: 0px;
    padding: 20px;
    border-radius: 20px;
   }

   
   #form-entry{
    display: flex;
    flex-direction: column;
   }

   form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   }

   #input-container{
    z-index: 0;
   }
   
  
   
     .navigation {
       overflow: none;
       background-color: #333;
       position: sticky;
       top:0%;
     }
   
   
     .navigation a {
       float: left;
       color: #f2f2f2;
       text-align: center;
       padding: 14px 16px;
       text-decoration: none;
       font-size: 25px;
     }
   
   .navigation a:hover {
     background-color: #ddd;
     color: black;
   }
   
   .navigation-right {
     float:right;
   }
    
   .input-box {
    display:flex;
    align-items: center;
    font-size: 30px;
    text-align: center;
   }
   
   .hero-intro {
     text-align: center;
     margin-top: 20px;
     font-size: 48px;
     color: #ddd;
   }
   
   .hero-intro2 {
    z-index: 100;
     text-align: center;
      font-size: 25px;
     color: #ddd;
   }

   button{
    border-radius: 20px;
    padding: 20px;
    background-color:white;
   }

   .card {
    display: flex;
    width: 60%;
    height: fit-content;
    background: rgba(237, 237, 237, 0.95);
    padding: 20px;
    box-shadow: 5px 5px 5px gray;
    border-radius: 10px;
    justify-content: center;
    margin: 10px;
    align-content: center;
    color: black;
  }

  .card-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    
    overflow-x: scroll;
   
  }
  
  /* On mouse-over, add a deeper shadow */
  .card:hover {
    box-shadow: 5px 5px 5px red;
  }

  #music-events{
    display: flex;
    flex-direction: row;
    max-height: 200px;
    overflow-y: auto;
    max-height: fit-content;

  }

  #music-events a{
  text-decoration: none;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-height: fit-content;
  margin: 2px;
  border-left: 2px solid black;
   
  }
  
  #music-events a:hover{
    color: blue;
  }

  #sports-event{
    display: flex;
    flex-grow: 1;
    flex-direction: row;
    
    max-height: 200px;
    overflow-y: auto;
    max-height: fit-content;

  }

  #sports-event a{
  text-decoration: none;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-height: fit-content;
  
  border-left: 2px solid black;
  }

  #sports-event a:hover{
    color: blue;
  }

  

  img{
    max-width: 200px;
   
  }

  img:hover{
    opacity: 0.75;
  }

  button{
    padding: 20px;
  }

#cityInput, #cityName, #inputContainer,button{
    margin: 3px;
padding:5px;
text-align:center;
font-size:20px;
font-weight:bold;
}

#Para1{
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    position: absolute;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 25px;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 450px;
    width: 1400px;
}

#date{
  color: black;
  font-size: 25px;
}

label{
  color: #f2f2f2;
  font-size: 20px;
}

#weatherContainer{
  z-index: 0;  
  position: absolute;
    top: 28%;
    left: 10%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    height: 450px;
    width: 200px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
#currentWeather{
  z-index: 0; 
  display: grid;
  grid-template-columns: lfr lfr;
  grid-gap: 20px;
    position: fixed;
    top: 100%;
    left: 50%;
    margin-right: -60%;
    transform: translate(-50%, -50%);
    height: 150px;
    width: 200px;
}

#iconsContainer{
  z-index: 0;
    display: grid;
    grid-gap: 5px;
    position: fixed;
    top: 70%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    height: 500px;
    width: 200px;
}

.icons0{
  z-index: 0; 
  display: grid;
  grid-template-columns: lfr lfr;
  grid-gap: 20px;
    display: inline-block;
    height: 350px;
    width: 350px;
    margin: 30px;
    border: 5px solid rgb(48, 47, 47);
    border-radius: 10px;
}

.icons{
z-index: 0;
  text-align: center;
    height: fit-content;
    width: 170px;
    padding: 3px;
    border: 2px solid rgb(48, 47, 47);
    background-color: #0000ff30;
}

.image{
    height: 90px;
    width: 90%;
}

.imgClass{
    height: 90px;
    width: 90%;
}

.weather{
    
  margin: 2px;
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
}

.weathers {
  display: grid;
  grid-template-columns: lfr lfr;
  grid-gap: 20px;
}

.tempValues{
    margin: 0;
}

.windValues{
    margin: 0;
}

.humidityValues{
    margin: 0;
}

@media (max-width: 740px) {
  #weatherContainer {
     display:none;
  }

  .icons{
    display: none;
  }
}
